.slogan__icon {
    padding: 25px 192.34px;
    margin-bottom: 30px;
    background: $color-F5F4FA;
    border-radius: 4px;

}

.slogan__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color: $color-secondary-txt;
}


.slogan__text {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: calc(24 / 14);
    color: $color-main-txt;
}